<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinalife.datacheck.dao.LoginDao">

    <select id="getUser" resultType="User">
        SELECT
            u.id       id,
            u.username username,
            u.pwd pwd,
            u.role_id role,
            u.mobile mobile,
            u.status status,
            u.email email
        FROM
            sys_user u
        WHERE (u.username = #{username} OR u.id = #{username})
              AND u.pwd = #{password}
              AND u.delete_status='1'
              AND u.status = '1'
    </select>
	<select id="count" resultType="User">
        SELECT
            u.id       id,
            u.username username,
            u.pwd pwd,
            u.nickname nickName
        FROM
            sys_user u
    </select>
    <select id="queryUser_id" resultType="String">
        SELECT id FROM sys_user where id=#{user_id}
    </select>
</mapper>